common --enable_workspace
common --@aspect_rules_ts//ts:skipLibCheck=always

coverage --combined_report=lcov --instrument_test_targets --experimental_collect_code_coverage_for_generated_files
test --combined_report=lcov --instrument_test_targets --experimental_collect_code_coverage_for_generated_files